#certifications {
  padding: 80px 8%;
  background:black;
}

#certifications h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 50px;
  color: #00ff88;
}

.certifications-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.cert-card {
  background: black;
  padding: 25px;
  border-radius: 14px;
  border: 1px solid rgba(0,255,136,0.2);
  transition: 0.3s;
}

.cert-card:hover {
  box-shadow: 0 0 20px rgba(0,255,136,0.3);
}

.cert-card h3 {
  font-size: 1.1rem;
  margin-bottom: 10px;
  color: #fff;
}

.cert-card p {
  font-size: 0.9rem;
  color: #ccc;
}

.cert-card span {
  font-size: 0.8rem;
  color: #00ff88;
}