body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #0d0d0d;
  color: #e0e0e0;
  scroll-behavior: smooth;
}

section {
  padding: 60px 5%;
}

h2 {
  color: #00ff88;
  text-align: center;
  margin-bottom: 40px;
}

button {
  background: #00ff88;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  color: black;
  font-weight: bold;
  border-radius: 5px;
  transition: 0.3s;
}

button:hover {
  box-shadow: 0 0 20px #00ff88;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}